@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700');



body{
	font-family: 'Roboto', sans-serif;
}

/*social section start*/
.social_section{
	background: #d0d0d057;
}
.social{
    float: right;
}
.social ul {
	margin-bottom: 0;
	list-style: none;
}
.social ul li{
    display: inline-flex;
}
.social ul li a{
	color: #424242;
    border: none;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 40px;	
}
.social ul li a i{}
.social p{
	line-height: 40px;
	padding-right: 30px;
	margin-bottom: 0;
}
.social span{
    border: .5px solid #0000004a;
    margin-left: 5px;
    margin-right: 5px;	
}

.social ul li a:hover{
	color: #fff;
	background: #1287bf;
}




/*social section end*/

/*header section start*/
.header_section{
    padding-top: 30px;
    background: #fff;
    padding-bottom: 30px;
}
.logo{}
.logo img{
    padding-top: 15px;
	float: left;
}

.logo a{
	text-decoration: none;
	color: #000;
}
.logo p{
	font-size: 16px;
	padding-left: 85px;
	margin-bottom:0;
}
.logo p span{
	margin-left: 0;
    border: none;
    font-weight: 600;
    font-size: 37px;
}

.head{}
.head ul{
    padding-top: 20px;	
}
.head ul li{
    padding-left: 20px;	
}
.head ul li a:hover{
    transition: all 0.5s;
	cursor: pointer;
	color:#DE2B24;
	background:#fff;
}
.head ul li a{
    border: 1px solid #fff;
    color: #000;
    font-weight: 600;	
}
.head ul li button{
	border: none;
	color: #fff;
	background: #DE2B24;
    padding: 10px 30px;	
}
.head ul li button:hover{
    transition: all 0.5s;
	cursor: pointer;
    padding: 10px 30px;	
	color:#fff;
	background:#F8CD53
}
/*header section end*/

/*banner section start*/
.banner_section{
	height: 100vh;
	background-repeat: no-repeat;
	background-size: cover;
	background:url(../images/banner1.png);
}
.banner{
	text-align: center;
}
.banner h1{
	margin-bottom: 0;
	font-weight: 900;
	color: #fff;
	font-size: 48px;
}
.banner p{
    margin-bottom: 0;
    color: #fff;
    padding-bottom: 45px;
    font-size: 28px;
}
.banner a{
}
.banner button{
    background: #F8CD53;
    color: #fff;
    font-size: 24px;    
    border: none;
    padding: 10px 20px;
}
.banner a button:hover{	
    transition: all 0.5s;
	background:#DE2B24; 
}

/*banner section end*/

/*about section start*/
.about_section{
	background: #fff;
}
.about{ text-align: center; }
.about h1{
	padding-top: 50px;
	font-weight: 900;
	font-size:40px;
	color:#000;
}
.about p{
	color: #999;
	font-size:26px;
}
.abo{
	text-align: center;
}
.abo hr{
    width: 50px;
    display: block;
    height: 4px;
    background: #000;	
}
.us img{
	padding-top: 20px;
	padding-bottom: 30px;
}
.us{
	padding-bottom: 50px;
	text-align: center;
}
.us h3{
	padding-bottom:10px;
	font-weight:600;
	font-size: 24px;
	color: #000;
}
.us p{
	font-size: 16px;
	line-height: 30px;
    width: 75%;
    text-align: center;
    display: inline-block;
}
/*about section end*/

/*approch section start*/
.approch_section{
	padding-bottom: 50px;
	background: #d0d0d057;
}
.our{ text-align: center; }
.our h1{
	padding-top: 50px;
	font-weight: 900;
	font-size:40px;
	color:#000;
}
.our p{
	color: #999;
	font-size:26px;
}
.float{
	position: relative;
	padding-bottom: 70px;
}
.img1{
	padding: 0;
	background: #fff;
}
.pik_left{
	float: left;
	padding: 0
}
.pik_left img{}
.pik1{
    color: #fff;
    background: #DE2B24;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    margin: 0;
    padding: 0;
    transform: translate(-285%,-100%);
}

.pik1 p{
	text-align: center;
}
.pik1 p span{
    font-weight: 900;
    font-size: 26px;
    font-family: Merriweather;
}
.haddding{
	padding-right: 50px;
	float: left;
}
.haddding h2{
    padding-top: 30px;	
}
.haddding p{
    padding-top: 20px;
    line-height: 35px;	
}






.pik_right{
	float: right;
	padding: 0
}
.pik_right img{
	float:right;
}
.pik2{
    color: #fff;
    background: #DE2B24;
    width: 70px;
    height: 70px;
    border: 1px solid #fff;
    position: absolute;
    top: 50%;
    right: 50%;
    margin: 0;
    padding: 0;
    transform: translate(375%,-100%);
}
.pik2 p{
	text-align: center;
}

.pik2 p span{
    font-weight: 900;
    font-size: 26px;
    font-family: Merriweather;
}
.hadddingg{
	padding-right: 50px;
	padding-left: 50px;
	float: left;
}
.hadddingg h2{
	float: right;
    padding-top: 30px;	
}
.hadddingg p{
	float: right;
    padding-top: 20px;
    line-height: 35px;	
}

/*approch section end*/

/*work section start*/
.Work_section{
	background: #DE2B24;
	padding-bottom:100px;
	padding-top: 50px;
}
.ourw{
	text-align: center;
}
.ourw h1{
	padding-top: 50px;
	font-weight: 900;
	font-size:40px;
	color:#fff;
}
.ourw p{
	color: #ffffffbf;
	font-size:26px;
}
.aboo{
	text-align: center;
    padding-bottom: 50px;
}
.aboo hr{
    width: 50px;
    display: block;
    height: 4px;
    background: #fff;	
}

.wor{
	padding: 0;
}
.Work2{}
.Work2 img{
	width: 285px;
}
/*
.Work1{}
.Work1{}
*/

.work1{
    background-color: #f35e59;
    height: 100%;
    width: 100%;
    padding-top: 55px;
    text-align: center;
}
.work1 a{}
.work1 i{
    padding-bottom: 20px;
    color: #ffffff99;
    font-size: 50px;
    padding-top: 20px;	
}
.work1 h2{
	font-size:30px;
	color:#fff;
	
}
.work1 p{
	font-size:16px;
	color: #ffffffbf;
}
/*work section end*/

/*document section start*/
.document_section{
	background:#1287BF;
	padding-bottom: 100px;
	padding-top: 100px;
}
.document{
	padding-bottom: 50px;
}
.document h1{
	font-size:36px;
	font-weight:600;
	color: #fff;
	text-align: center;
	margin-bottom: 0;
}
.document p{
	font-size:20px;
	color:#ffffffb3;
	text-align: center;
}
.document button{
    width: 50px;
    border: 1px solid #fff;
    margin:0 auto;
    display: block;
    background: none;
    height: 50px;
    border-radius: 50%;
    line-height:50px;
}
.document button:hover{
	background: #DE2B24;
	color: #fff;
}
.document button i{
    color: #fff;
    font-size:20px;
    background: none;
}
.form-controll{
	position: relative;
}
.form-controll button{
    top: 0;
    background: #DE2B24;
    border: 1px solid #fff;
    position: absolute;
    right: 0;
    border-radius: 30px;
    height: 45px;
    width: 45px;
	line-height: 12px;
    text-align: center;
    transform: translate(5%,-40%);
}
.form-controll button::before{
    position: absolute;
    content: "";
}
.form-controll button i{
	font-size: 20px;
	color: #fff;
}
.form-controll form{
    background: #fff;
    padding: 30px 50px;
}

.form-control{
    width: 100%;
    margin:30px auto;
    background: #fff; 
    padding:10px 10px;
}
.form-controll::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-bottom: 50px solid #fff;
    top: -24px;
    left: 50%;
    transform: translate(-50%,-50%);
}


button:focus {
    outline: 0;
}
.form-control:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.btn.focus, .btn:focus {
    box-shadow: 0 0 0 0 rgba(0,123,255,.25);
}
.submit{
    padding-top: 20px;
    text-align: center;
    padding-bottom: 20px;
}
.submit input{
    text-transform: uppercase;
    padding: 10px 40px;
    color: #fff;
    background: #DE2B24;
    font-weight: 400;
}

/*document section end*/

/*touch section start*/

.touch_section{
	padding-top: 50px;
	padding-bottom:100px;
	background:#000;
}
.touch{
	text-align: center;
}
.touch h2{
	padding-top:50px;
	padding-bottom: 50px;
	color: #fff;
	font-weight: 900;
	font-size: 30px;
}
.media{
    text-align: center;
    display: block;
    margin: 0 auto
}
.media ul{
	list-style: none;
}
.media ul li{}
.media ul li a{
    border: 2px solid #fff;
    width: 45px;
    height: 45px;
    display: inline-block;
    font-size: 20px;
    text-align: center;
    line-height: 45px;
	margin-right:18px;
}
.media ul li a i{
	font-size: 25px;
	color: #fff;	
}

.media ul li a:hover{
    border: 2px solid #DE2B24;
}
.media p{
	padding-top:20px;
	color:#ffffffa1;
	font-size: 16px;
}
.input{
	padding-top: 40px;
}
.input input{
	background:#515151;
}
.form-control:focus{
	color: #fff;
    background: #5f5d5d;
    border-color: #ffffff;
}
.submit{
	padding-top: 40px;
}
.submit button{
    border: 1px solid;
    background: #000;
    color: #fff;
    font-size: 18px;
    padding: 12px 35px;
}
.submit button:hover{
    border: 1px solid #DE2B24;

}

/*touch section end*/

/*footer section start*/
.footer_section{
	padding-top: 30px;
	padding-bottom: 30px;
	background:#515151;
}
.footer{
	text-align: center;
}
.footer p{
	margin-bottom: 0;
	color:#ffffffa1;
}
/*footer section end*/